<h2>Update the drone</h2>
<div>
  <form action="/drones/{{_id}}/edit" method="POST">

    <label for="name">Name:</label>
    <input type="text" name="name" id="name" value="{{name}}"/>

    <br><br/>

    <label for="propellers">Quantity of propellers:</label>
    <input type="number" name="propellers" id="propellers" value="{{propellers}}" />

    <br><br/>

    <label for="maxSpeed">Max Speed:</label>
    <input type="number" name="maxSpeed" id="maxSpeed" value="{{maxSpeed}}" />

    <br><br/>

    <button type="submit">Submit changes</button>


  </form>

</div>